<nav class="row navigation text-center">
  <a href="whoarewe" class="col-12 col-md align-self-center">whoarewe</a>
  <a href="about" class="col-12 col-md align-self-center">about</a>
  <a href="/" class="col-12 col-md align-self-center">
    <span class="logo"></span>
  </a>
  <a href="contact" class="col-12 col-md align-self-center">contact</a>
  <a href="projects-and-friends" class="col-12 col-md align-self-center">
    projects and friends
  </a>
</nav>
