<form class="row justify-content-center" action="/contact-form" method="get">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="form-group">
      <label for="email">your email address</label>
      <input type="email" name="from" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="description">why did you come here?</label>
      <textarea name="text" class="form-control" cols="30" rows="10"></textarea>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-secondary">SUBMIT</button>
    </div>

    <br />
    <br />
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <p>
      VECTOR011<br />
      PAJSTUNSKA 5<br />
      851-02 BRATISLAVA<br />
      SLOVAKIA
    </p>

    <p>
      BUSINESS ID: 50751336<br />
      TAX ID: 2120495498
    </p>

    <p><a href="mailto: info@vector011.com">INFO@VECTOR011.COM</a></p>
    <iframe
      style="width: 100%"
      width="600"
      height="450"
      frameborder="0"
      style="border: 0"
      src="https://www.google.com/maps/embed/v1/place?q=Paj%C5%A1t%C3%BAnska%205%2C%20Bratislava-Petr%C5%BEalka%2C%20Slovensko&key=AIzaSyBRpBJoF3DAkEz68Ls9ozIdCZVRvMUoJFg"
      allowfullscreen
    ></iframe>

    <br />
    <br />
  </div>
</form>
