<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h1>HI MAN, MAKE YOUR DIGITAL PRODUCT HAPPEN</h1>
    <br />

    <p>
      WE ARE A FULL SERVICE DIGITAL PRODUCT FACTORY, PRODUCING SOLUTIONS FOR
      COMPANIES OF ALL SIZES.
    </p>
    <p>THE CREATIVITY IS OUR ADDICTION.</p>
    <p>WE WORK WITH THE PEOPLE WHO KNOW WHY THEY NEED US.</p>
    <p>WE APPRECIATE THE HONEST PEOPLE.</p>
    <p>WE DON'T WORK WITH THE PEOPLE WHO WE DON'T LIKE.</p>
    <br />
    <br />
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
    <img
      class="img-fluid"
      src="images/whoweare.png"
      width="1000"
      height="557"
      style="width: 500px; max-width: 100%"
    />
    <br />
    <br />
  </div>
</div>
